kedro
kedro-viz
pennylane
pennylane-qiskit
qiskit
cirq
qibo
qibojit
qulacs
kaleido
distributed
bokeh

pytest
pytest-cov
pre-commit
black
flake8
mkdocs
mkdocstring
markdown-include
mkdocs-material
mkdocstring-python